.news {
    margin-top: 50px;
    background-color: $mainBackColor;
    margin-bottom: 50px;
}
.page-news{
    margin-top: 100px;
}
.news-content {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.news-block {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);;
    padding-bottom: 25px;
    @media (max-width:$md2) {
       display: block; 
    }
}
.news-img {
    img{
        width: 350px;
        height: 200px;
        object-fit: cover;
        @media (max-width:$md2) {
            width: 100%;
            height: auto;
         }
    }
}
.news-text-area {
    padding-left: 40px;
    @media (max-width:$md2) {
        padding-left: 0px;
        padding-top: 20px;
     }
}
.news-date {
    margin-bottom: 8px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}
.news-block-title {
    margin-bottom: 8px;
}
.sub-title {
}
.news-block-sub-title {
}