.prev-page {
    width: 100%;
    background: white;
    height: 55px;
    position: relative;
    position: fixed;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}
.prev-page-arrow {
position: absolute;
left: 20px;
top:0;
bottom: 0;
font-size: 55px;
cursor: pointer;
}
.prev-page-name {
    font-family: $AdverGhotic;
}

.pages {
    margin-top: 140px;
    margin-bottom: 20px;
}
.pages-main-title {
    margin-top: 35px;
    text-align: left;
}
.pages-img {
}
.pages-text-area {
}
.pages-text-title {
    margin: 20px 0 20px 0;
}
.sub-title {
}
.pages-sub-title {
}